.off-canvas-body {
  height: calc(100vh - 7rem);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-future-plans {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  p {
    font-size: 1.1rem;
    text-align: center;
    margin-block: .5rem;
  }
}

@media (max-width: 992px) {
  .off-canvas-body {
    height: calc(100vh - 10vh);
  }
}
