.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.22);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  z-index: 30;
  padding: 1rem;
}

.modal-title {
  position: absolute;
  top: 0;
  left: 1.3rem;
}

.modal-content {
  max-width: 30vw;
  max-height: 90vh;
  background: white;
  border-radius: .7rem;
  padding: 4rem 2rem 1rem 2rem;
  position: relative;
  box-shadow: 0 2px 18px #0002;
  outline: none;
  overflow-y: auto;

  @media (max-width: 768px) {
    max-width: 100%;
    margin: 0;
    padding: 3rem 1rem 1rem 1rem;
    border-radius: .5rem;
  }
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #aaa;
  transition: color 0.2s;
}

.close-btn:hover {
  color: #222;
}
