.gesture-indicator {
  width: 270px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-block: 2rem;
}

.icon {
  width: 50%;
  height: auto;
  animation: grab-move-right 2.5s infinite ease-in-out;
}

span {
  text-align: center;
}

@keyframes grab-move-right {
  0% {
    transform: translateX(-60px) scale(1);
    opacity: 0;
  }

  15% {
    transform: translateX(-60px) scale(1);
    opacity: 1;
  }

  25% {
    transform: translateX(-60px) scale(0.9);
    opacity: 1;
  }

  85% {
    transform: translateX(60px) scale(0.9);
    opacity: 1;
  }

  100% {
    transform: translateX(60px) scale(1);
    opacity: 0;
  }
}
