<div class="graph-container">
	<div class="scroll-wrapper" (wheel)="onWheel($event)">
		<svg #svgElement [attr.viewBox]="viewBox">
			@for (node of nodes; track node) {
				<g [attr.transform]="'translate(' + node.position.x + ',' + node.position.y + ')'">
					<circle r="20" [attr.fill]="node.data.color" stroke="#333" stroke-width="2"></circle>
					<text text-anchor="middle" y="40" fill="black" font-size="14">
						{{ node.label }}
					</text>
				</g>
			}

			@for (link of links; track link) {
				<path class="line" stroke="#999" stroke-width="2" fill="none" [attr.d]="getCustomPath(link)"></path>
			}
		</svg>
	</div>
</div>

