services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - frank2example-postgres-data:/var/lib/postgresql/data

volumes:
  frank2example-postgres-data:
