<app-off-canvas [title]="release.name" (closeCanvas)="closeCanvas.emit()">
  <div class="off-canvas-body">
    @if (!isLoading) {
      @if (highlightedLabels === undefined && releaseIssues === undefined) {
        <div class="no-new-features">
          <p>No new features found towards previous release.</p>
          <p>Please try again later.</p>
        </div>
      } @else {
        @if (highlightedLabels) {
          <app-release-highlights [highlightedLabels]="highlightedLabels" [releaseIssues]="releaseIssues" />
        } @else {
          <div class="no-highlights">
            <p>No new highlights found for this release.</p>
          </div>
        }
        @if (releaseIssues) {
          <app-release-important-issues [releaseIssues]="releaseIssues" />
        }
      }
    } @else {
      <app-loader />
    }
  </div>
</app-off-canvas>
