.highlight-pie {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 5%;
  min-height: 280px;
  width: 100%;
}

highlight-donut-chart {
  margin-right: 2rem;
}

.highlight-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 3rem 2rem 2rem;
  box-shadow: 0 4px 16px rgba(0,0,0,0.09);

  .highlight-title {
    font-weight: 600;
    color: #111;
    margin: 0;
  }

  .highlight-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .highlight-dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 1px solid gray;
    }

    p {
      margin: 0;
      font-size: .9rem;
    }
  }
}
