<div class="highlight-pie">
  <div class="highlight-info-container">
    <h4 class="highlight-title">Highlights</h4>
    @for (highlight of highlights?.filteredHighlights; track highlight) {
      <div class="highlight-label">
        <span class="highlight-dot" [style.background]="'#' + highlight.color"></span>
        <p>{{ highlight.name }}</p>
      </div>
    }
  </div>
  <ngx-charts-pie-chart
    class="highlight-donut-chart"
    [view]="[300, 300]"
    [results]="pieData"
    [customColors]="customColors"
    [doughnut]="true"
    [animations]="false"
  />
</div>
