<div class="graph-container">
  @if (!isLoading) {
    <svg
            #svgElement
            id="svgElement"
            [attr.viewBox]="viewBox"
            (wheel)="onWheel($event)"
            (mousedown)="onMouseDown($event)"
            (mouseup)="onMouseUp()"
            (mousemove)="onMouseMove($event)"
            (mouseleave)="onMouseUp()"
    >
      <g [attr.transform]="'translate(' + translateX + ',' + translateY + ') scale(' + scale + ')'">
        @for (link of allLinks; track link) {
          <path
                  [attr.data-cy]="'link-' + link.id"
                  [attr.d]="getCustomPath(link)"
                  [class.dotted]="link.isGap || link.isFadeIn"
                  [class.fade-in]="link.isFadeIn"
          />
        }

        @for (releaseNode of releaseNodes; track releaseNode) {
          <g
                  id="node"
                  [attr.data-cy]="'node-' + releaseNode.label"
                  [attr.transform]="'translate(' + releaseNode.position.x + ',' + releaseNode.position.y + ')'"
                  (click)="openReleaseDetails(releaseNode)"
          >
            <circle r="20" [attr.fill]="releaseNode.color" />
            <text y="-30">
              {{ releaseNode.label }}
            </text>
          </g>
        }

        @for (branchLabel of branchLabels; track branchLabel.label) {
          <text
                  class="branch-label"
                  [attr.x]="branchLabel.x"
                  [attr.y]="branchLabel.y"
          >
            {{ branchLabel.label }}
          </text>
        }
      </g>
    </svg>

    @if (selectedRelease$ | async; as release) {
      <app-release-off-canvas [release]="release" (closeCanvas)="closeReleaseDetails()" />
    }

    <app-release-catalogus [selectedRelease]="selectedRelease$ | async" />
  } @else {
    <app-loader />
  }
</div>
