.release-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  cursor: pointer;
  position: fixed;
  z-index: 15;

  @media (min-width: 999px) {
    top: 1.5rem;
  }

  @media (max-width: 992px) {
    bottom: 1.25rem;
  }
}

.release-modal-content {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  p {
    margin: 0;
    border-left: #444444 3px solid;
    padding-left: 1rem;
  }
}

.release-content-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;

  .release-content-item-icon {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    circle {
      stroke: #EFEFEF;
      stroke-width: 5;
    }
  }

  p {
    border: none;
    padding: .5rem;
    overflow-x: auto;
    margin: 0;
  }
}
