<a target="_blank" class="issue-bar" [href]="issue.url" [ngStyle]="issueStyle">
  <div class="inner" [ngStyle]="priorityStyle" (mouseenter)="updateTooltipPosition()">
    <span class="number">{{ issue.number }}</span>
    <div #tooltipElement class="tooltip" [style.transform]="tooltipTransformStyle">
      <h4 class="tooltip-title">{{ issue.title }}</h4>
      @if (issue.issuePriority) {
        <p class="tooltip-detail"><strong>Priority:</strong> {{ issue.issuePriority.name }}</p>
      }
      @if (issue.points) {
        <p class="tooltip-detail"><strong>Points:</strong> {{ issue.points }}</p>
      }
    </div>
  </div>
</a>
