<div class="graph-container">
	<svg id="svgElement"
		 #svgElement
		 (wheel)="onWheel($event)"
		 (mousedown)="onMouseDown($event)"
		 (mousemove)="onMouseMove($event)"
		 (mouseup)="onMouseUp()"
		 (mouseleave)="onMouseUp()"
		 [attr.viewBox]="viewBox">
		<g [attr.transform]="'translate(' + translateX + ',' + translateY + ') scale(' + scale + ')'">
			@for (releaseNode of releaseNodes; track releaseNode) {
				<g [attr.transform]="'translate(' + releaseNode.position.x + ',' + releaseNode.position.y + ')'">
					<circle r="20" [attr.fill]="releaseNode.color"></circle>
					<text y="-30">
						{{ releaseNode.label }}
					</text>
				</g>
			}

			@for (releaseLink of releaseLinks; track releaseLink) {
				<path
					[attr.d]="getCustomPath(releaseLink)">
				</path>
			}
		</g>
	</svg>
</div>
