<div class="graph-container">
	<div class="scroll-wrapper" #scrollWrapper>
		<ngx-graph
				#graph
				[layout]="'none'"
				[nodes]="nodes"
				[links]="links"
				[draggingEnabled]="false"
				[autoZoom]="false"
				[enableZoom]="true"
				[panOnZoom]="true"
		>
			<ng-template #nodeTemplate let-node>
				<svg:g class="node" [attr.transform]="'translate(' + (node.position?.x || 0) + ',' + (node.position?.y || 0) + ')'">
					<circle r="20" [attr.fill]="node.data.color" stroke="#333" stroke-width="2"></circle>
					<text text-anchor="middle" y="40" fill="black" font-size="14">
						{{ node.label }}
					</text>
				</svg:g>
			</ng-template>

			<ng-template #linkTemplate let-link>
				<svg:g class="edge">
					<path
							class="line"
							stroke="#999"
							stroke-width="2"
							fill="none"
							[attr.d]="getCustomPath(link)"></path>
				</svg:g>
			</ng-template>
		</ngx-graph>
	</div>
</div>
