<div class="timeline-header">
  <div class="timeline-header__row timeline-header__row--quarters">
    <div class="timeline-header__milestone-title-cell">Release</div>
    <div class="timeline-header__grid-area" [style.grid-template-columns]="quartersGridStyle">
      @for (quarter of quarters; track quarter.name) {
        <div class="timeline-header__quarter-cell">{{ quarter.name }}</div>
      }
    </div>
  </div>
  <div class="timeline-header__row timeline-header__row--months">
    <div class="timeline-header__milestone-title-cell"></div>
    <div class="timeline-header__grid-area" [style.grid-template-columns]="'repeat(' + months.length + ', 1fr)'">
      @for (month of months; track month.getTime()) {
        <div class="timeline-header__month-cell">{{ month | date: 'MMM' }}</div>
      }
    </div>
  </div>
</div>
