<button
  class="release-btn"
  type="button"
  title="Show release info"
  aria-label="Show release info"
  [ngStyle]="{
    right: isSmallScreen ? 'auto' : '1.5rem',
    left: isSmallScreen ? '1.25rem' : 'auto',
  }"
  (click)="toggleModal()"
>
  <img src="assets/icons/info-button.svg" alt="" width="36" height="36" />
</button>

@if (modalOpen) {
  <app-modal [title]="'Release Support'" (closed)="toggleModal()">
    <ng-container>
      <div class="release-modal-content">
        <div class="release-content-item">
          <div class="release-content-item-icon">
            <img src="assets/icons/status-nightly.svg" alt="" width="40" height="40" />
          </div>
          <p>Nightly build, always supported, may contain bugs</p>
        </div>
        <div class="release-content-item">
          <div class="release-content-item-icon">
            <img src="assets/icons/status-supported.svg" alt="" width="40" height="40" />
          </div>
          <p>Fully supported</p>
        </div>
        <div class="release-content-item">
          <div class="release-content-item-icon">
            <img src="assets/icons/status-security.svg" alt="" width="40" height="40" />
          </div>
          <p>Only security support, no technical support</p>
        </div>
        <div class="release-content-item">
          <div class="release-content-item-icon">
            <img src="assets/icons/status-unsupported.svg" alt="" width="40" height="40" />
          </div>
          <p>Not supported, no exceptions</p>
        </div>
        <div class="release-content-item">
          <div class="release-content-item-icon">
            <img src="assets/icons/status-skipped.svg" alt="" width="40" height="40" />
          </div>
          <p>Skipped unsupported versions</p>
        </div>
        <div class="release-content-item">
          <div class="release-content-item-icon">
            <img src="assets/icons/status-cluster.svg" alt="" width="40" height="40" />
          </div>
          <p>Clustered releases, because the publication dates of these releases are too close together</p>
        </div>
        <div class="release-content-item">
          <div class="release-content-item-icon support-timeline-icon">
            <div class="support-rectangle"></div>
          </div>
          <p>Branch support timeline, shows the support period for each release branch</p>
        </div>
        <div class="release-content-item">
          <div class="release-content-item-icon support-dot-icon">
            <div class="support-dot"></div>
          </div>
          <p>Branch is currently supported in any way.</p>
        </div>
        <p>
          Our policy is to provide major versions with one year of security support and six months of technical support.
          For minor versions, these support periods are six months for security support and three months for technical
          support.
        </p>
      </div>
    </ng-container>
  </app-modal>
}
