#tab-header {
  display: flex;
  flex-direction: row;
  top: 1rem;
  left: 1rem;
  position: fixed;
  gap: 1rem;

  ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      cursor: pointer;
      padding: 8px 4px 12px 4px;

      &:not(.active) {
        opacity: 0.6;
      }
      &.active {
        color: #111;
      }
      &:hover {
        opacity: 1;
        color: #000;
      }

      h3 {
        font-size: 1rem;
        font-weight: 600;
        color: #444;
        transition: color 0.2s, opacity 0.2s;
        margin-top: .2rem;
        margin-bottom: 0;
      }

      .tab-underline {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        width: 90%;
        height: 2.5px;
        background: #111;
        border-radius: 1rem;
        transition: all 0.25s;
        display: block;
        z-index: 1;
      }
    }
  }
}
